In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df1 = pd.read_csv('42_District_wise_crimes_committed_against_women_2001_2012.csv')
df2 = pd.read_csv('42_District_wise_crimes_committed_against_women_2013.csv')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 10 columns):
STATE/UT                                               9017 non-null object
DISTRICT                                               9017 non-null object
Year                                                   9017 non-null int64
Rape                                                   9017 non-null int64
Kidnapping and Abduction                               9017 non-null int64
Dowry Deaths                                           9017 non-null int64
Assault on women with intent to outrage her modesty    9017 non-null int64
Insult to modesty of Women                             9017 non-null int64
Cruelty by Husband or his Relatives                    9017 non-null int64
Importation of Girls                                   9017 non-null int64
dtypes: int64(8), object(2)
memory usage: 704.5+ KB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 10 columns):
STATE/UT                                               823 non-null object
DISTRICT                                               823 non-null object
Year                                                   823 non-null int64
Rape                                                   823 non-null int64
Kidnapping and Abduction                               823 non-null int64
Dowry Deaths                                           823 non-null int64
Assault on women with intent to outrage her modesty    823 non-null int64
Insult to modesty of Women                             823 non-null int64
Cruelty by Husband or his Relatives                    823 non-null int64
Importation of Girls                                   823 non-null int64
dtypes: int64(8), object(2)
memory usage: 64.4+ KB

In [12]:
df = pd.concat([df1,df2], axis=0)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9840 entries, 0 to 822
Data columns (total 10 columns):
STATE/UT                                               9840 non-null object
DISTRICT                                               9840 non-null object
Year                                                   9840 non-null int64
Rape                                                   9840 non-null int64
Kidnapping and Abduction                               9840 non-null int64
Dowry Deaths                                           9840 non-null int64
Assault on women with intent to outrage her modesty    9840 non-null int64
Insult to modesty of Women                             9840 non-null int64
Cruelty by Husband or his Relatives                    9840 non-null int64
Importation of Girls                                   9840 non-null int64
dtypes: int64(8), object(2)
memory usage: 845.6+ KB

In [33]:
df.isnull().sum()

STATE/UT                                               0
DISTRICT                                               0
Year                                                   0
Rape                                                   0
Kidnapping and Abduction                               0
Dowry Deaths                                           0
Assault on women with intent to outrage her modesty    0
Insult to modesty of Women                             0
Cruelty by Husband or his Relatives                    0
Importation of Girls                                   0
dtype: int64

In [14]:
df.head()

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [31]:
df.nlargest(5, 'Rape')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
409,Madhya Pradesh,ZZ TOTAL,2013,4335,2873,776,8252,736,4988,7
8611,MADHYA PRADESH,TOTAL,2012,3425,1127,743,6655,774,3988,6
7810,MADHYA PRADESH,TOTAL,2011,3406,1088,811,6665,762,3732,45
611,Rajasthan,ZZ TOTAL,2013,3285,4047,453,4829,25,15094,1
7025,MADHYA PRADESH,TOTAL,2010,3135,1030,892,6646,918,3756,5

In [23]:
df.nlargest(5, 'Kidnapping and Abduction')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
743,Uttar Pradesh,ZZ TOTAL,2013,3050,9737,2335,7303,25,8781,0
8938,UTTAR PRADESH,TOTAL,2012,1963,7910,2244,3247,8,7661,0
8132,UTTAR PRADESH,TOTAL,2011,2042,7525,2322,3455,3,7121,0
7342,UTTAR PRADESH,TOTAL,2010,1563,5468,2217,2793,11,7978,0
6563,UTTAR PRADESH,TOTAL,2009,1759,5078,2232,2782,2524,8566,0

In [24]:
df.nlargest(5, 'Dowry Deaths')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
743,Uttar Pradesh,ZZ TOTAL,2013,3050,9737,2335,7303,25,8781,0
8132,UTTAR PRADESH,TOTAL,2011,2042,7525,2322,3455,3,7121,0
8938,UTTAR PRADESH,TOTAL,2012,1963,7910,2244,3247,8,7661,0
5796,UTTAR PRADESH,TOTAL,2008,1871,4439,2237,2955,3374,8312,0
6563,UTTAR PRADESH,TOTAL,2009,1759,5078,2232,2782,2524,8566,0

In [25]:
df.nlargest(5, 'Assault on women with intent to outrage her modesty')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
409,Madhya Pradesh,ZZ TOTAL,2013,4335,2873,776,8252,736,4988,7
455,Maharashtra,ZZ TOTAL,2013,3063,1874,320,8132,2632,8542,0
743,Uttar Pradesh,ZZ TOTAL,2013,3050,9737,2335,7303,25,8781,0
1068,MADHYA PRADESH,TOTAL,2002,2891,639,674,7118,783,3117,0
351,MADHYA PRADESH,TOTAL,2001,2851,668,609,7063,751,2562,0

In [26]:
df.nlargest(5, 'Insult to modesty of Women')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
2095,UTTAR PRADESH,TOTAL,2003,911,1499,1322,1098,4970,2626,0
33,Andhra Pradesh,ZZ TOTAL,2013,1635,1595,492,6930,4702,15084,0
6669,ANDHRA PRADESH,TOTAL,2010,1362,1531,588,4634,4562,12080,0
8239,ANDHRA PRADESH,TOTAL,2012,1341,1403,504,4816,3714,13389,0
7448,ANDHRA PRADESH,TOTAL,2011,1442,1612,599,4849,3658,13376,0

In [27]:
df.nlargest(5, 'Cruelty by Husband or his Relatives')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
8982,WEST BENGAL,TOTAL,2012,2046,4168,593,3345,556,19865,12
8172,WEST BENGAL,TOTAL,2011,2363,3711,510,2363,200,19772,0
787,West Bengal,ZZ TOTAL,2013,1685,3830,481,4913,577,18116,9
7381,WEST BENGAL,TOTAL,2010,2311,2764,507,2465,163,17796,8
6602,WEST BENGAL,TOTAL,2009,2336,2187,506,1942,108,16112,5

In [28]:
df.nlargest(5, 'Importation of Girls')

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
115,BIHAR,TOTAL,2001,888,518,859,562,21,1558,83
3013,BIHAR,TOTAL,2005,1147,929,1014,451,13,1574,74
3597,WEST BENGAL,TOTAL,2005,1686,1039,446,1572,54,6936,61
3590,WEST BENGAL,NADIA,2005,148,97,48,95,3,545,60
4486,BIHAR,TOTAL,2007,1555,1260,1172,853,12,1635,56

In [21]:
df['STATE/UT'].value_counts()

UTTAR PRADESH        878
MADHYA PRADESH       628
MAHARASHTRA          552
BIHAR                540
TAMIL NADU           469
RAJASTHAN            454
ODISHA               430
KARNATAKA            399
GUJARAT              384
ANDHRA PRADESH       370
ASSAM                362
JAMMU & KASHMIR      322
PUNJAB               314
JHARKHAND            312
WEST BENGAL          309
HARYANA              268
CHHATTISGARH         266
KERALA               233
ARUNACHAL PRADESH    195
DELHI                183
HIMACHAL PRADESH     176
UTTARAKHAND          168
NAGALAND             138
MANIPUR              125
MIZORAM              108
MEGHALAYA             96
Uttar Pradesh         77
TRIPURA               67
SIKKIM                60
Madhya Pradesh        55
                    ...
Andhra Pradesh        34
Assam                 34
Jammu & Kashmir       31
PUDUCHERRY            31
West Bengal           30
Chhattisgarh          29
Punjab                29
Jharkhand             27
Haryana               25
D & N HAVELI          24
LAKSHADWEEP           24
CHANDIGARH            24
Kerala                21
Delhi UT              19
Arunachal Pradesh     19
Himachal Pradesh      16
Uttarakhand           14
Nagaland              12
Meghalaya             12
Manipur               11
Mizoram               11
Tripura               10
Sikkim                 5
A&N Islands            4
Daman & Diu            3
Puducherry             3
Goa                    3
D&N Haveli             2
Lakshadweep            2
Chandigarh             2
Name: STATE/UT, Length: 70, dtype: int64