In [43]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, accuracy_score

In [2]:
dataset = pd.read_csv('data_banknote_authentication.txt', header = None)
dataset.head()

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [3]:
dataset.info()
dataset.describe()
dataset[4].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
0    1372 non-null float64
1    1372 non-null float64
2    1372 non-null float64
3    1372 non-null float64
4    1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

0    762
1    610
Name: 4, dtype: int64

In [4]:
dataset.sample(n=10)

            0         1         2         3  4
645   2.92330   6.04640 -0.111680 -0.586650  0
1129 -0.40951  -0.15521  0.060545 -0.088807  1
596   0.65497   5.18150  1.067300 -0.421130  0
631   1.89940   0.97462  4.226500  0.813770  0
129   3.46630   1.11120  1.742500  1.338800  0
890  -1.66370   3.28810 -2.270100 -2.222400  1
1153 -2.76110 -10.50990  9.023900 -1.954700  1
541   3.66670   4.30200  0.559230  0.337910  0
1256 -2.16520   3.02110 -2.413200 -2.424100  1
222   1.09870   0.63940  5.989000 -0.582770  0

In [7]:
# a random 1005 of the sample(frac = 1)
dataset = dataset.sample(frac=1)
dataset

             0         1          2         3  4
1316 -1.602900  -0.38903   1.620000  1.910300  1
1188 -3.020100  -0.67253   2.705600  0.857740  1
974  -5.030100   7.50320  -0.133960 -7.503400  1
633   4.429500  -2.35070   1.704800  0.909460  0
149   2.739100   7.40180   0.071684 -2.530200  0
728   0.379840   0.70975   0.757160 -0.444410  0
18    1.447900  -4.87940   8.342800 -2.108600  0
1323 -0.025314  -0.17383  -0.113390  1.219800  1
227  -2.647900  10.13740  -1.331000 -5.470700  0
491   3.063200  -3.33150   5.130500  0.826700  0
1011 -1.848300   0.31038   0.773440  1.418900  1
699   3.916600  10.24910  -4.092600 -4.465900  0
217   1.326400   1.03260   5.656600 -0.413370  0
707   4.650000  -4.82970   3.455300 -0.251740  0
643   0.382510   6.81210   1.812800 -0.612510  0
372   0.743070  11.17000  -1.382400 -4.072800  0
139  -0.206200   9.22070  -3.704400 -6.810300  0
351   0.519500  -3.26330   3.089500 -0.984900  0
477   3.489300   6.69000  -1.204200 -0.387510  0
99   -2.741900  11.40380   2.539400 -5.579300  0
1355 -6.163200   8.70960  -0.216210 -3.634500  1
358   2.691700  10.81610  -3.300000 -4.288800  0
1138 -2.596100  -9.34900   9.794200 -0.280180  1
876  -3.591600  -6.22850  10.238900 -1.154300  1
1302 -2.572400  -0.95602   2.707300 -0.166390  1
716   0.519500  -3.26330   3.089500 -0.984900  0
158   2.263400  -4.48620   3.655800 -0.612510  0
124  -0.917180   9.98840   1.180400 -5.226300  0
1362 -2.166800   1.59330   0.045122 -1.678000  1
958  -0.363720   3.04390  -3.481600 -2.783600  1
...        ...       ...        ...       ... ..
641   0.942250   5.85610   1.876200 -0.325440  0
133   0.433900   5.53950   2.033000 -0.404320  0
1135 -1.638600   3.35840  -1.730200 -3.564600  1
1088  0.643760   3.76400  -4.473800 -4.048300  1
362   1.745200   4.80280   2.087800  0.626270  0
676   0.299610   7.13280  -0.314750 -1.182800  0
340   4.992300   7.86530  -2.351500 -0.719840  0
617  -0.278000   8.18810  -3.133800 -2.527600  0
599   3.929200  -2.91560   2.212900  0.308170  0
1288 -2.659000  -1.60580   1.364700  0.164640  1
289   3.242200   6.22650   0.122240 -1.446600  0
365   3.899900   1.73400   1.601100  0.967650  0
1104 -3.019300   1.77750   0.737450 -0.453460  1
850   0.836250   1.10710  -2.470600 -0.062945  1
975  -3.079900   0.60836   2.703900 -0.237510  1
115   2.533100   2.91350  -0.822000 -0.122430  0
744   4.985200   8.35160  -2.542500 -1.282300  0
495  -0.126240  10.32160  -3.712100 -6.118500  0
1159 -2.565000  -5.78990   6.012200  0.046968  1
1320 -0.720680  -6.75830   5.840800  0.623690  1
1129 -0.409510  -0.15521   0.060545 -0.088807  1
66    4.605400  -4.07650   2.758700  0.319810  0
77    0.049175   6.14370   1.782800 -0.721130  0
1066 -2.628600   0.18002   1.795600  0.972820  1
824  -0.429400  -0.14693   0.044265 -0.156050  1
1264 -6.651000   6.79340   0.686040 -7.588700  1
264   2.483000   6.61550  -0.792870 -0.908630  0
507   4.601400   5.62640  -2.123500  0.193090  0
995  -2.123400   1.18150  -0.555520 -0.811650  1
806  -6.200300   8.68060   0.009134 -3.703000  1

[1372 rows x 5 columns]

In [8]:
X = dataset.iloc[:,0:-1].values
y = dataset.iloc[:,-1].values
X,y

(array([[-1.6029   , -0.38903  ,  1.62     ,  1.9103   ],
        [-3.0201   , -0.67253  ,  2.7056   ,  0.85774  ],
        [-5.0301   ,  7.5032   , -0.13396  , -7.5034   ],
        ...,
        [ 4.6014   ,  5.6264   , -2.1235   ,  0.19309  ],
        [-2.1234   ,  1.1815   , -0.55552  , -0.81165  ],
        [-6.2003   ,  8.6806   ,  0.0091344, -3.703    ]]),
 array([1, 1, 1, ..., 0, 1, 1], dtype=int64))

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30, random_state=0)

In [26]:
print(X_test.shape, X_train.shape)

(412, 4) (960, 4)

In [46]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

y_pred = classifier.predict(X_test)
ac = classifier.score(X_test,y_test)
print(ac)

0.9878640776699029

In [47]:
from sklearn.ensemble import RandomForestClassifier
classifier_r = RandomForestClassifier()
classifier_r.fit(X_train,y_train)

y_pred_r = classifier_r.predict(X_test)
ac = classifier_r.score(X_test,y_test)
print(ac)

C:\Users\avani\Anaconda\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

0.9854368932038835

In [48]:
from sklearn.tree import DecisionTreeClassifier
deci = DecisionTreeClassifier(criterion= 'gini')
deci.fit(X_train,y_train)

d_y_pred = deci.predict(X_test)
print(deci.score(X_test,y_test))

0.9805825242718447